@using WebApplication1.Models
@{ 
    QuickFoodEntities db = new QuickFoodEntities();
    var a = 0;
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="parallax-window" data-parallax="scroll" data-image-src="../Images/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <h1>@ViewBag.Foods[0].FoodName</h1>
            <div><em>@ViewBag.Category[0].CategoryName</em></div>
            <div>
                <i class="icon_pin"></i>
                @if (HttpContext.Current.User.Identity.Name != "")
                {

                    var user = db.Database.SqlQuery<User>("SELECT * FROM Users WHERE Username=" + "'" + HttpContext.Current.User.Identity.Name + "'").FirstOrDefault();
                    var favorites = db.Database.SqlQuery<Favorite>("SELECT * FROM Favorites").ToList();
                    foreach (var favorite in favorites)
                    {
                        if (favorite.FoodId == ViewBag.Foods[0].FoodId && favorite.UserId == user.UserId)
                        {
                            <div>
                                <a href="~/User/RemoveFavorites/@ViewBag.Foods[0].FoodId" class="btn_1">Remove Favorites</a>
                            </div>
                            a = 1;
                            break;
                        }
                    }

                    if (a != 1)
                    {
                        <div>
                            <a href="~/User/AddFavorites/@ViewBag.Foods[0].FoodId" class="btn_1">Add Favorites</a>
                        </div>
                    }
                    
                }
            </div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->


<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-lg-3">
            <p><a href="list_page.html" class="btn_side">Back to search</a></p>
                <div class="filter_type">
                    <h6>Ingredients</h6>
                    <ul>
                        @foreach (var ingredient in ViewBag.Ingredients)
                        {
                            <li>@ingredient.IngredientName</li>
                        }
                    </ul>
                </div>
            <div class="box_style_2 d-none d-sm-block" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div><!-- End col -->
        <div class="col-lg-9">
            <div class="box_style_2" id="main_menu">
                <h2 class="inner">@ViewBag.Foods[0].FoodName</h2>
                <h3 class="nomargin_top" id="starters">Recipe</h3>
                <p>
                    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Foods[0].Recipe));
                </p>
                <table class="table table-striped cart-list">
                    <thead>
                        <tr>
                            <th>
                                NutritionName
                            </th>
                            <th>
                                NutritionValue
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var nutrition in ViewBag.Nutritions)
                        {
                            <tr>
                                <td>
                                    <h5>@nutrition.NutritionName</h5>
                                </td>
                                <td>
                                    <strong>@nutrition.NutritionValue kcal</strong>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div><!-- End box_style_1 -->
        </div><!-- End col -->
    </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->